.member-btn {
  svg {
    margin-left: 10px;
    width: 20px;
    fill: #fff;
  }
}

.membership-container {
  text-align: center;
}

.activityDownload {
  background-color: #ffcb51;
  border-color: #fbbb20ff !important;
  &:hover {
    background-color: #fbbb20ff;
  }
  min-width: 80% !important;
}

#dlMenu,
#signMenu {
  border-color: #fbbb20ff;
}

#signMenu {
  a {
    margin-top: 10px;
    min-width: 80% !important;
  }
}

.card-premium {
  outline-style: solid;
  outline-color: gold;
  outline-width: 2px;
  animation: flash_border 0.7s alternate linear infinite;
}

.linkpremium {
  color: gold !important;
  font-weight: bold !important;
}

.premium-btn {
  background-color: #fbbb20ff;
  border-color: #fbbb20ff;
  color: black;
  &:hover {
    background-color: gold;
    border-color: gold;
  }
}
